<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <meta charset="UTF-8">

        <script src="client.js" defer></script>
        <link rel="stylesheet" href="client.css" />
    </head>

    <body>
        <header>
            <h1 class="shop_title">Humanitus Shop</h1>
        </header>

        <section class="shop_section container">
            <div class="objects">
            <% json.objects.forEach(object => { %>
                <div class="object" data_object_id="<%= object.name %>">
                    <span class="object_name"><%= object.nom %></span>
                    <div class="object_qt">
                        <p class="quantity_text"> quantité disponible:      </p>
                        
                        <span class="object_quantity"><%= object.quantites %></span>
                    </div>
                    <img class="object_image" src="images/<%= object.image %>">
                    <div class="object_pb">
                        <span class="object_price"><%= object.prix %>€</span>
                        <button class="object_ajout btn btn_primary" type="button">ajouter aux panier</button>
                    </div>
                </div>
            <%}) %>
            </div>
        </section>

        <section class="cart_Container container">
            <h2 class="section_header">PANIER</h2>
            <div class="row">
                <span class="cart_object cart_column cart_header">OBJET</span>
                <span class="cart_price cart_column cart_header">PRIX</span>
                <span class="cart_quantity cart_column cart_header">QUANTITÉ</span>
            </div>
            <div class="cart_objects">
            </div>
            <div class="cart_total">
                <strong class="cart_total_name"> Total sans frais de livraison</strong>
                <span class="cart_total_price">0€</span>
            </div>

            <form action="/soap" method="post">
                <input class="price" type="hidden" name="price">
                <input class="distance" type="number" name="distance" placeholder="entrez la distance ici" min="0">
                <input class ="btn_deliveries btn btn_primary" type="submit" id="submit" value="voir les frais de livraison">
            </form>
        </section>
        <footer class="footer">
            <h3 class="shop_name">Humanitus Shop</h3>
            <p class="PE"> Projet étudiant</p>
            <span class="TP"> Traveau pratique INFO 802</span>
            <span class="MF">Martin Folliet </span>
        </footer>

    </body>
</html> 